{% extends "base.html" %}

{% block content %}
	<h1>Register</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}<br>
			{% for error in form.username.errors %}}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.email.label }}<br>
			{{ form.email(size=64) }}<br>
			{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password2.label }}<br>
			{{ form.password2(size=32) }}<br>
			{% for error in form.password2.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>
		<p>	
			{{ form.department.label }}<br>
			{{ form.department }}<br>
		</p>
		<p>	
			{{ form.degree.label }}<br>
			{{ form.degree }}<br>
		</p>
		<p>
			{{ form.fname.label }}<br>
			{{ form.fname(size=32) }}<br>
			{% for error in form.fname.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>
		<p>
			{{ form.lname.label }}<br>
			{{ form.lname(size=32) }}<br>
			{% for error in form.lname.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>
		<p>
			{{ form.address1.label }}<br>
			{{ form.address1(size=50) }}<br>
			{% for error in form.address1.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>
		<p>
			{{ form.address2.label }}<br>
			{{ form.address2(size=50) }}<br>
			{% for error in form.address2.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>
		<p>
			{{ form.city.label }}<br>
			{{ form.city(size=32) }}<br>
			{% for error in form.city.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>
		<p>	
			{{ form.state.label }}<br>
			{{ form.state }}<br>
		</p>
		<p>
			{{ form.zip.label }}<br>
			{{ form.zip(size=5) }}<br>
			{% for error in form.zip.errors %}
			<span style="color: red;">[{{ error }}]</sapn>
			{% endfor %}
		</p>

		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
		

